@{

    @model List<CRM.Models.Produto>

    ViewData["Title"] = "Produtos";
}


<div id="main" class="main">

    <div class="pagetitle">
        <h1 class="text-center">Cadastro de Produtos</h1>
        <nav class="d-flex justify-content-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Dashbard</a></li>
                <li class="breadcrumb-item">Cadastro</li>
                <li class="breadcrumb-item active">Produtos</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div class="coantainer-fluid">
        <hr class="border border-primary border-2 opacity-75">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <button class="btn btn-outline-primary"><i class="bi bi-window-plus"></i> Cadastrar Produto
                    </button>
                </li>
            </ol>
        </nav>
    </div>

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title h1">Produtos</h5>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>
                                        <b>P</b>roduto
                                    </th>
                                    <th>Codigo</th>
                                    <th>Descrição</th>
                                    <th data-type="date" data-format="YYYY/DD/MM">Data de inclusao</th>
                                    <th>Valor</th>
                                    <th>Alterar</th>
                                    <th>Deletar</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var produto in Model)
                                {
                                        <tr>
                                            <td>@produto.Nome</td>
                                            <td>@produto.Codigo</td>
                                            <td class="col-4">@produto.Descricao</td>
                                            <td>@produto.DataLancamento.ToShortDateString()</td>
                                            <td>R$ @produto.Valor</td>
                                            <td><Button class="btn btn-outline-warning">Alterar</Button></td>
                                            <td><Button class="btn btn-outline-danger">Deletar</Button></td>
                                        </tr>
                                }
                            </tbody>
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>

</div><!-- End #main -->
